body{
    background-image: linear-gradient(45deg, black 10%, #1e0058 30%, #1e0058 30%, black 100%);
    min-height: 100vh; /* Pour couvrir toute la hauteur de la page */
    margin: 0; /* Supprime les marges par défaut */
}

.text-google{
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-mint {
    color: #96DCC8
}

.bg-mint{
    background-color: #96DCC8;
}

.bg-incard{
    background-color: #e6e6e63c;
}

.text-violet{
    color:rgb(159, 3, 232)
}

.isAnimated {
    transition: transform 0.3s ease; /* Durée de 0.3s avec un effet "ease" */
}
.isAnimated:hover {
    transform: scale(1.005) translateY(-5px);
}

.h-lg-100 {
    height: 100%; 
}
@media (min-width: 992px) { /* À partir de lg (992px) */
    .h-lg-100 {
        height: 100% !important; /* h-100 uniquement sur grand écran */
    }
}